---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <Introduction />
    <div class="mt-10 flex flex-col gap-5">
      <Posts />
      <Projects />
    </div>
  </div>
</BaseLayout>
