<section class="prose">
  <p>
    Welcome to TinyBones, a minimal blog template built with <a
      href="https://astro.build/">Astro</a
    >. Perfect for developers who want a clean, fast, and customizable blog
    without the bloat.
  </p>
  <p>
    This template provides everything you need to start blogging with minimal
    setup and maximum performance.
  </p>
  <h1 class="mt-8 mb-3 text-lg font-bold">Key features</h1>
  <ul>
    <li>
      <strong>Fast by default: </strong>Leverage the power of Astro, Tailwind
      CSS, and Markdown to create fast, lightweight web pages.
    </li>
    <li>
      <strong>Minimal and customizable: </strong>Clean foundation to build upon
      and meet your unique needs. Zero frameworks installed by default.
    </li>
    <li>
      <strong>SEO-friendly: </strong>Sitemap, an <a href="/rss.xml">RSS feed</a
      >, and Open Graph protocol support out of the box.
    </li>
    <li>
      <strong>Accessible to all: </strong>System, dark, and light mode support.
      Keyboard navigation and semantic HTML standards.
    </li>
  </ul>
</section>
