---
import { NAV_LINKS, SITE } from "@/siteConfig.ts";
import Search from "./Search.astro";
import BlogDropdown from "./BlogDropdown.astro";
import { Menu } from "lucide-astro";
---

<header
  class="bg-bg dark:bg-dark-bg fixed top-0 right-0 left-0 z-10"
>
  <div
    class="mx-auto flex max-w-screen-lg flex-wrap items-center justify-between p-2 pb-2 font-sans sm:px-5 sm:py-3"
  >
    <div class="flex w-full items-center justify-between md:w-auto">
      <div class="flex items-center gap-4">
        <div class="hidden md:block">
          <BlogDropdown />
        </div>
        <a href="/" class="text-xl font-bold">{SITE.title}</a>
      </div>
      <div class="block md:hidden">
        <button
          aria-label="Menu"
          onclick="document.getElementById('mobile-menu').classList.toggle('hidden'); document.getElementById('mobile-menu').classList.toggle('show');"
        >
          <Menu class="h-6 w-6" />
        </button>
      </div>
    </div>

    <div class="hidden w-full md:block md:w-auto">
      <Search />
    </div>

    <nav
      id="mobile-menu"
      class="mt-4 hidden w-full flex-col items-start md:mt-0 md:flex md:w-auto md:flex-row md:items-center"
    >
      <ul
        class="flex w-full list-none flex-col items-start gap-4 p-0 md:mr-4 md:w-auto md:flex-row md:items-center md:gap-5"
      >
        {
          Object.keys(NAV_LINKS).map((navItemKey) => {
            return (
              <li>
                <a
                  href={NAV_LINKS[navItemKey].path}
                  class="nav-link block py-1"
                >
                  {NAV_LINKS[navItemKey].label}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  #mobile-menu.show {
    display: flex;
  }
</style>
